
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
  <script src="/assets/js/moment.js"></script>
  <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
  <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/moment.js"></script>
  <script src="/assets/js/core.js"></script>

  <link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
  <style>
    #name-title {
      text-decoration: underline;
      margin-top: 3%;
    }

  </style>
</head>
<body>

    <div class="demo-header-cell demo-left" style="width: 100%;">
      <div style="width: 48%; float: left;">
    <div class="addresses"><span class="headers"><b><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vital Signs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></b></span></div>
      <div class="birthdates">
        <span class="headers">
          <strong>Temperature:</strong>
        </span> 
        <span id="temperature"></span> 
      </div>
      <div class="addresses"><span class="headers"><strong>BP:</strong></span>&nbsp;<span id="bp"></span></div>
      <div class="addresses"><span class="headers"><strong>Weight:</strong></span>&nbsp;<span id="weight"></span></div>      
      <div class="addresses"><span class="headers"><strong>Pulse Rate:</strong></span>&nbsp;<span id="pulse"></span></div>
    </div>
     <div style="width: 48%; float: right;">
          <div class="addresses"><span class="headers"><b><u>&nbsp;&nbsp;&nbsp; Post-Op Vital Signs &nbsp;&nbsp;&nbsp;&nbsp;</u></b></span></div>
      <div class="birthdates">
        <span class="headers">
          <strong>Pulse Rate:</strong>
        </span> 
        <span id="postop-pulse"></span> 
      </div>
      <div class="addresses"><span class="headers"><strong>BP:</strong></span>&nbsp;<span id="post-op-bp"></span></div>
      <div class="addresses"><span class="headers"><strong>Weight:</strong></span>&nbsp;<span id="weight"></span></div>
    </div>
    </div>
    </div>

      <script>
      var apiURL = sessionStorage.getItem("apiURL");
      var apiPort = sessionStorage.getItem("apiPort");
      var apiProtocol = sessionStorage.getItem("apiProtocol");
      var id = sessionStorage.getItem("patientID");
      var program_id = sessionStorage.programID;

      function ajaxRequest() {
        var url = apiProtocol+'://' + apiURL + ':' + apiPort 
        url += '/api/v1/programs/'+program_id+'/patients/' + id;
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
          

          if (this.readyState == 4) {
            if (this.status == 200) {
              var results = JSON.parse(this.responseText);
              document.getElementById("temperature").innerHTML = ((results.vitals_temperature !== "") ? results.vitals_temperature : "Not Available");
              document.getElementById("bp").innerHTML = ((results.vitals_bp !== "") ? results.vitals_bp : "No BP Available"); 
              document.getElementById("weight").innerHTML = ((results.vitals_weight !== "") ? results.vitals_weight : "No Weight Available");
              document.getElementById("pulse").innerHTML =  ((results.vitals_pulse !== "") ? results.vitals_pulse : "Not Available");
            }
          }
        };
        try {
          req.open('GET', url, true);
          req.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
          req.send(null);
        } catch (e) {
        }
      }

      ajaxRequest();

      function postopVitalsAjaxRequest() {
        var url = 'http://' + apiURL + ':' + apiPort 
        url += '/api/v1/programs/'+program_id+'/patients/' + id;
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {

          if (this.readyState == 4) {
            if (this.status == 200) {
              var results = JSON.parse(this.responseText);
              document.getElementById("postop-pulse").innerHTML = ((results.postop_pulse_rate !== "") ? results.postop_pulse_rate : "No Purse rate Available");
              document.getElementById("post-op-bp").innerHTML = ((results.postop_bp !== "") ? results.postop_bp : "No BP Available")  
              document.getElementById("weight").innerHTML = ((results.vitals_weight !== "") ? results.vitals_weight : "No Weight Available");
            }
          }
        };
        try {
          req.open('GET', url, true);
          req.setRequestHeader('Authorization', sessionStorage.getItem('authorization'));
          req.send(null);
        } catch (e) {
        }
      }

      postopVitalsAjaxRequest();

function dateDiffInMonths(dt2, dt1) {
  var months;
  months = (dt2.getFullYear() - dt1.getFullYear()) * 12;
  months -= dt1.getMonth() + 1;
  months += dt2.getMonth();
  return months <= 0 ? 0 : months;
}

      </script>
</body>
</html>
