<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script language="javascript" defer="true">
      tstUsername = "";
      tstUserKeyboardPref = "";

      tstCurrentDate = "";


    </script>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/common.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/circumcision.js"></script>

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <style type="text/css">
  
        </style>

<form action="">

  <input type="text" 
  name="circumcision_date" 
  id="circumcision_date" 
  field_type="date" 
  allowFreeText="true"
  maxDate=""
  absoluteMin=""
  tt_pageStyleClass="Date DatesOnly"
  tt_onLoad="showCategory2('Circumcision');__$('Unknown').style.display = 'none';initializeDate();setAbsoluteMaxYear();submitButton();"
  helptext="Circumcision Date" />

  <input type="text" 
  name="anaesthesia_time" 
  id="anaesthesia_time" 
  field_type="number" 
  allowFreeText="true" 
  tt_onLoad="changeDecimalToColon();showCategory2('Circumcision');" 
  tt_onUnLoad="updateAnaesTime();" 
  validationRule="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" 
  validationMessage="Bad time format (Use this format: 14<b>:30</b>)" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" 
  helpText="Time anaesthesia given (24 Hour clock)" />

  <select name="anaesthesia_type" 
  id="anaesthesia_type" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Type of anaesthesia"><option value=''></option>
  <option value=""></option>
  <option value="Local Anaesthesia">Local Anaesthesia (LA)</option>
  <option value="General Anaesthesia">General Anaesthesia (GA)</option></select>

  <select name="anaesthesia" 
  id="anaesthesia" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Anaesthesia"><option value=''></option>
  <option value=""></option>
  <option value="Lidocaine">Lidocaine</option>
  <option value="Bupivacaine">Bupivacaine</option></select>

  <input type="text" 
  name="lidocaine_quantity" 
  id="lidocaine_quantity" 
  field_type="number" 
  allowFreeText="true" 
  min="0" 
  max="2" 
  optional="true" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Lidocaine quantity given in percentage" 
  condition="(__$('anaesthesia').value == 'Lidocaine')" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" />

  <input type="text" 
  name="lidocaine_mls" 
  id="lidocaine_mls" 
  field_type="number" 
  allowFreeText="true" 
  min="0" 
  max="5" 
  optional="true" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Lidocaine quantity given in mls " 
  condition="(__$('anaesthesia').value == 'Lidocaine')" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" />

  <input type="text" 
  name="bupivacaine_quantity" 
  id="bupivacaine_quantity" 
  field_type="number" 
  allowFreeText="true" 
  min="0" 
  max="0.5" 
  optional="true" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Bupivacaine quantity given in percentage" 
  condition="(__$('anaesthesia').value == 'Bupivacaine')" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" />

  <input type="text" 
  name="bupivacaine_mls" 
  id="bupivacaine_mls" 
  field_type="number" 
  allowFreeText="true" 
  min="0" 
  max="5" 
  optional="true" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Bupivacaine quantity given in mls" 
  condition="(__$('anaesthesia').value == 'Bupivacaine')" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" />

  <select name="procedure_type" 
  id="procedure_type" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Circumcision');"
  tt_onUnLoad="checkAge();" 
  helpText="Procedure Type"><option value=''></option>
  <option value=""></option>
  <option value="Forceps Guided">Forceps Guided (FG)</option>
  <option value="Dorsal Slit">Dorsal Slit (DS)</option>
  <option value="Device">Device</option>
  <option value="Other">Other</option></select>

  <input type="text" 
  name="other_procedure_type" 
  id="other_procedure_type" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Specify Other Procedure Type" 
  condition="$('procedure_type').value == 'Other'" />

  <input type="text" 
  name="incision_time" 
  id="incision_time" 
  field_type="number" 
  allowFreeText="true" 
  tt_onLoad="changeDecimalToColon(); changeDefaultSettings();showCategory2('Circumcision');" 
  tt_onUnLoad="checkTime(); updateIncisionTime();" 
  validationRule="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" 
  validationMessage="Bad time format (Use this format: 14<b>:30</b>)" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" 
  helpText="Incision time" />

  <select name="adverse_events?" 
  id="adverse_events?" 
  tt_pageStyleClass="NoKeyboard" 
  tt_onLoad="showCategory2('Circumcision');"
  allowFreeText="false" 
  helpText="Any Intra-OP Adverse events"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <input type="text" 
  name="specific_adverse_event" 
  id="specific_adverse_event" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Circumcision');"
  condition="__$('adverse_events?').value.match(/YES/i)" 
  helpText="Specify adverse event" />

  <input type="text" 
  name="specific_adverse_event_management" 
  id="specific_adverse_event_management" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Circumcision');"
  condition="__$('adverse_events?').value.match(/YES/i)" 
  optional="true" 
  helpText="Specify adverse event management" />

  <input type="text" 
  name="time_left_table" 
  id="time_left_table" 
  field_type="number" 
  allowFreeText="true"
  tt_onLoad="changeDecimalToColon(); changeSettings();showCategory2('Circumcision');" 
  validationRule="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" 
  validationMessage="Bad time format (Use this format: 14<b>:30</b>)" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" 
  helpText="Time left table" />

  <input type="text" 
  name="given_name" 
  id="given_name" 
  field_type="alpha" 
  tt_onLoad="showCategory2('Circumcision');"
  helpText="Assistant circumciser's first name" 
  ajaxURL="/search/given_name?search_string=" 
  allowFreeText="true" />

  <input type="text" 
  name="family_name" 
  id="family_name" 
  field_type="alpha" 
  tt_onLoad="showCategory2('Circumcision');changeNextButton();"
  helpText="Assistant circumciser's last name" 
  ajaxURL="/search/family_name?search_string=" 
  tt_onLoad="updateAssistantCircumciserDetails();" 
  allowFreeText="true" />
</form>
        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>
