<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script language="javascript" defer="true">
      tstUsername = "";
      tstUserKeyboardPref = "";
      tstCurrentDate = sessionStorage.sessionDate;

    </script>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/follow_up.js"></script>

    <link rel="stylesheet" media="screen" href="/apps/VMMC/assets/css/yes_no_btn.css" />

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content"> 

<style type="text/css">

  #Unknown{
    display: none;
  }

  #divcontent {
    background-color: #fff;
    border: 2px solid #ccf;
    border-radius: 10px;
    height: 84%;
    margin: 10px;
    overflow: hidden;
    width: 98%;
  }

  .ShortSelectList, 
  .NumbersOnlyWithDecimal,
  .NumbersOnly,
  .DatesOnly { height: 655px !important }

  #divScroller {
    height: 97%;
    margin: 10px;
    overflow: auto;
    width: 98%;
  }

  .disabled-li{
    text-decoration: line-through;
    color: gray !important;
  }
</style>

<form action="">

  <input type="text" 
  name="follow_up_date" 
  id="follow_up_date" 
  field_type="date" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Follow-up review');initializeDate();setAbsoluteMaxYear();"
  helptext="Follow up date" 
  maxDate=""
  absoluteMin="" />

  <input type="text" 
  name="advance_follow_up" 
  id="advance_follow_up" 
  tt_onLoad="__$('keyboard').style.display = 'none'; advancedSideEffects();showCategory2('Follow-up review');" 
  helpText="Client follow up information" />
    
  <select name="excessive_skin" 
  id="excessive_skin" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Follow-up review');"
  helpText="Excessive skin removed?"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <select name="insufficient_skin" 
  id="insufficient_skin" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Follow-up review');"
  helpText="Insufficient skin removed?"  
  condition="__$('excessive_skin').value.match(/NO/i)"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <select name="delayed_wound_healing" 
  id="delayed_wound_healing" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Follow-up review');" 
  helpText="Delayed wound healing?"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <input type="text" 
  name="other_ae" 
  id="other_ae" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Follow-up review');"
  helpText="Other AE (Specify)" 
  optional="true" />

  <input type="text" 
  name="findings_summary" 
  id="findings_summary" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Follow-up review');"
  helpText="Summary of findings" />

  <input type="text" 
  name="management_findings" 
  id="management_findings" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Follow-up review');"
  helpText="Management of findings" 
  optional="true" />

  <select name="counselling" 
  id="counselling" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Follow-up review');"
  helpText="Was counselling done?"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <input type="text" 
  name="family_planning" 
  id="family_planning" 
  field_type="number" 
  allowFreeText="true" 
  min="0" 
  max="500" 
  tt_pageStyleClass="Numeric NumbersOnly"
  tt_onLoad="showCategory2('Follow-up review');changeNextButton();" 
  helpText="Number of condoms given" />
</form>

        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>
