<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/common.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/genital_exam.js"></script>

    <script language="javascript" defer="true">

      tstUsername = "";

    </script>

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        <style type="text/css">

        </style>

<form>

  <select name="circumcision_idd" 
  id="circumcision_idd" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Genital exam');changeSubmitFunction();" 
  helpText="Circumcision Status"><option value=''></option>
  <option value=""></option>
  <option value="Full">Full</option>
  <option value="Part">Part</option>
  <option value="None">None</option></select>

  <select name="phimosis_id" 
  id="phimosis_id" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  helpText="Phimosis" 
  tt_requireNextClick="false" 
  tt_onLoad="$('nextButton').style.display = 'none';showCategory2('Genital exam');" 
  condition="__$('circumcision_idd').value != 'Full'"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <select name="ulcer_id" 
  id="ulcer_id" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  helpText="Ulcer" 
  tt_requireNextClick="false" 
  tt_onLoad="$('nextButton').style.display = 'none';showCategory2('Genital exam');" 
  tt_onUnLoad="displayMessage('ulcer_id');" 
  condition="__$('circumcision_idd').value != 'Full'"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <select name="urethral_id" 
  id="urethral_id" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  helpText="Urethral discharge" 
  tt_requireNextClick="false" 
  tt_onLoad="$('nextButton').style.display = 'none';showCategory2('Genital exam');" 
  tt_onUnLoad="displayMessage('urethral_id');" 
  condition="__$('circumcision_idd').value != 'Full'"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <select name="swelling_id" 
  id="swelling_id" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  helpText="Scrotum swelling/tenderness" 
  tt_requireNextClick="false" 
  tt_onLoad="$('nextButton').style.display = 'none';showCategory2('Genital exam');" 
  tt_onUnLoad="displayMessage('swelling_id');" 
  condition="__$('circumcision_idd').value != 'Full'"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <select name="inguinal_nodes_id" 
  id="inguinal_nodes_id" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  helpText="Inguinal nodes enlarged/tender" 
  tt_requireNextClick="false" 
  tt_onLoad="$('nextButton').style.display = 'none';showCategory2('Genital exam');" 
  condition="__$('circumcision_idd').value != 'Full'"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <select name="any_abnormality" 
  id="any_abnormality" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  helpText="Other abnormality" 
  tt_onLoad="$('nextButton').style.display = 'inline';showCategory2('Genital exam');changeSubmitFunction();" 
  condition="__$('circumcision_idd').value != 'Full'"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <input type="text" name="other_abnormalities" 
  id="other_abnormalities" 
  field_type="alpha" 
  allowFreeText="true" 
  helpText="Specify other abnormalities" 
  condition="__$('any_abnormality').value.match(/YES/i)" 
  tt_onLoad="$('nextButton').style.display = 'inline';showCategory2('Genital exam');changeSubmitFunction();" />
</form>

        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>
