<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <script language="javascript" defer="true">
      tstUsername = "";
      tstUserKeyboardPref = "";
      tstCurrentDate = "";

    </script>

    <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js"
        defer="true"></script>
    <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
    <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
    <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
    <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/moment.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/common.js"></script>
    <script type="text/javascript" src="/apps/VMMC/assets/js/postop_review.js"></script>

  </head>
  <body id="mateme">
    <div id="container">
      <div id="content">
        
<style type="text/css">

</style>

<form action="">

  <input type="text" 
  name="post_review_time" 
  id="post_review_time" 
  field_type="number" 
  allowFreeText="true" 
  tt_onLoad="changeDecimalToColon(); postOp();showCategory2('Post-op review');" 
  tt_onUnLoad="updateTimeLeft();" 
  validationRule="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" 
  validationMessage="Bad time format (Use this format: 14<b>:30</b>)" 
  tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" 
  helpText="Review Time" />

  <input type="text" 
  name="pulse" 
  id="pulse" 
  field_type="number" 
  allowFreeText="true"
  tt_onLoad="showCategory2('Post-op review');" 
  helptext="Pulse Rate (Beats per Minute)" 
  min="50" 
  max="120" 
  units="bpm" 
  validationRule="([0-9]+)|Unknown$" 
  validationMessage="You must enter a number between 0 and 9 (for example: 54)" 
  tt_pageStyleClass="Numeric NumbersWithUnknownAndDecimal" />

  <input type="text" 
  name="systolic_blood_pressure" 
  id="systolic_blood_pressure" 
  field_type="number" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Post-op review');"
  helptext="Systolic Blood Pressure" 
  tt_onUnLoad="displayMessage('systolic_blood_pressure');" 
  tt_pageStyleClass="NumbersWithUnknown" 
  min="80" 
  max="150" />

  <input type="text" 
  name="diastolic_blood_pressure" 
  id="diastolic_blood_pressure" 
  field_type="number" 
  allowFreeText="true"
  tt_onLoad="showCategory2('Post-op review');" 
  helptext="Diastolic Blood Pressure" 
  tt_onUnLoad="displayMessage('diastolic_blood_pressure');" 
  tt_pageStyleClass="NumbersWithUnknown" 
  min="50" 
  max="100" />

  <select name="type_of_pain" 
  id="type_of_pain" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Post-op review');"
  helpText="Type of pain"><option value=''></option>
  <option value=""></option>
  <option value="None">None</option>
  <option value="Mild">Mild</option>
  <option value="Moderate">Moderate</option>
  <option value="Severe">Severe</option></select>

  <select name="bandage" 
  id="bandage" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false"
  tt_onLoad="showCategory2('Post-op review');" 
  helpText="Bandage (Bleeding)"><option value=''></option>
  <option value=""></option>
  <option value="Dry">Dry</option>
  <option value="Spot">Spot</option>
  <option value="Soak">Soak</option></select>

  <select name="other_ae" 
  id="other_ae" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Post-op review');"
  helpText="Other Adverse Event?"><option value=''></option>
  <option value=""></option>
  <option value="None">None</option>
  <option value="Mild">Mild</option>
  <option value="Moderate">Moderate</option>
  <option value="Severe">Severe</option></select>

  <input type="text" 
  name="specify_other_ae" 
  id="specify_other_ae" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Post-op review');"
  helpText="Specify other Adverse Event" 
  condition="__$('other_ae').value != 'None'" />

  <select name="meds_given?" 
  id="meds_given?" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Post-op review');"
  helpText="Medication given?"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <input type="text" 
  name="medication" 
  id="medication" 
  field_type="alpha" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Post-op review');"
  condition="__$('meds_given?').value.match(/YES/i)" 
  helpText="Specify medication" />


  <select name="ready_for_discharge" 
  id="ready_for_discharge" 
  tt_pageStyleClass="NoKeyboard" 
  allowFreeText="false" 
  tt_onLoad="showCategory2('Post-op review');changeNextButton();"
  helpText="Ready for discharge"><option value=''></option>
  <option value=""></option>
  <option value="Yes">Yes</option>
  <option value="No">No</option></select>

  <input type="text" 
  name="appointment_date" 
  id="appointment_date" 
  field_type="date" 
  allowFreeText="true" 
  tt_onLoad="showCategory2('Post-op review');__$('Unknown').style.display = 'none';changeNextButton();"
  absoluteMin="2019-05-11" 
  maxDate="2019-08-10" 
  helptext="Appointment date" 
  condition="__$('ready_for_discharge').value.match(/YES/i)" />

</form>

        <div id="footer">
        </div>
      </div>
    </div>
  </body>
</html>
